## GIT IGNORE FILE
.vs

#[Bb]in
**/[Bb]in/**/Logs
**/[Bb]in/**/NugetPlugins
**/[Bb]in/**/Connections
**/[Bb]in/**/Metadata
**/[Bb]in/**/Plugins
**/[Bb]in/**/Settings
**/[Bb]in/**/Dataverse.XrmTools.DataMigrationTool.*

[Oo]bj
[Pp]ackages
